<form action="" class="form-question">
  <h2>Preencha informações da enquete</h2>
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Opção 1</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Opção 2</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Opção 3</mat-label>
    <input matInput>
  </mat-form-field>

</form>
